.container{
    display: flex;
    gap: 40px;
}
.university-box{
    height: 150px;
    width: 700px;
    background-color: red;
}
.section-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;

}
.section-buttons button{
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-family: roboto, sans-serif;
    border: 0;
    cursor: pointer;
}
.universityBox{
    height: 100px;
    width: 700px;
    background-color: blueviolet;
}
.form{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: roboto, sans-serif;
    gap: 10px;
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-input input{
    height: 30px;
    width: 250px;
    outline: 0;
}
.form-container{
    display: flex;
    gap: 20px;
    margin-left: 10px;
    margin-top: 10px;
}